.topnav a{
    float: right;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 14px 16px;
}
.topnav{
    height: 60px;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-left: 129px;
}

h1{
    font-weight: bolder;
    font-size: 60px;
    margin: 0%;
}
.color{
    color: tomato;
}
.link{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 30px;
}
p{
    margin: 0%;
    font-size: 25px;
}
section{
    margin-top: 100px;
    padding-left: 30px;
    max-height: 500px;
}
.half-width{
    width: 40%;
    float: left;
    padding-right: 100px;
}
.half-width img{
    width: 100%;
}
.gap{
    padding-top: 40px;
    padding-bottom: 40px;
}